@* conferencesSection Template File *@
@(param: Any)

<aside class="list conferences aside section">
    <div class="section-inner">
        <h2 class="heading">Conferences</h2>
        <div class="content">
            <ul class="list-unstyled">
                <li><i class="fa fa-calendar"></i> <a href="https://developer.apple.com/wwdc/" target="_blank">WWDC 2014</a> (San Francisco)</li>
                <li><i class="fa fa-calendar"></i> <a href="http://hive.aigaseattle.org/">Hive</a> (Seattle)</li>
            </ul>
        </div><!--//content-->
    </div><!--//section-inner-->
</aside><!--//section-->
