@* informationSection Template File *@
@(param: Any)

<aside class="info aside section">
    <div class="section-inner">
        <h2 class="heading sr-only">Basic Information</h2>
        <div class="content">
            <ul class="list-unstyled">
                <li>
                	<i class="fa fa-map-marker"></i>
                	<span class="sr-only">Location:</span>New Delhi, India</li>
                <li>
                	<i class="fa fa-envelope-o"></i>
                	<span class="sr-only">Email:</span><a href="#">anand@@knoldus.com</a>
                </li>
                <li>
                	<i class="fa fa-link"></i>
                	<span class="sr-only">Website:</span><a href="http://www.knoldus.com" target="_blank">http://www.knoldus.com</a>
                </li>
            </ul>
        </div><!--//content-->  
    </div><!--//section-inner-->                 
</aside><!--//aside-->
