@* musicSection Template File *@
@(param: Any)

<aside class="list music aside section">
    <div class="section-inner">
        <h2 class="heading">Favourite coding music</h2>
        <div class="content">
            <ul class="list-unstyled">
                <li><i class="fa fa-headphones"></i> <a href="#">Etiam hendrerit urna nunc</a></li>
                <li><i class="fa fa-headphones"></i> <a href="#">Ut sollicitudin in mauris non auctor</a></li>
                <li><i class="fa fa-headphones"></i> <a href="#">Etiam hendrerit urna nunc</a></li>
                <li><i class="fa fa-headphones"></i> <a href="#">Duis et felis bibendum</a></li>
            </ul>
        </div><!--//content-->
    </div><!--//section-inner-->
</aside><!--//section-->
