@* skillsSection Template File *@
@(param: Any)

<aside class="skills aside section">
    <div class="section-inner">
        <h2 class="heading">Skills</h2>
        <div class="content">
            <p class="intro">
                Intro about your skills goes here. Keep the list lean and only show your primary skillset. You can always provide a link to your Linkedin or Coderwall profile so people can get more info there.</p>
            
            <div class="skillset">
               
                <div class="item">
                    <h3 class="level-title">Python &amp; Django<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to add more info...">Expert</span></h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="96%">
                        </div>                                      
                    </div><!--//level-bar-->                                 
                </div><!--//item-->
                
                <div class="item">
                    <h3 class="level-title">Javascript &amp; jQuery<span class="level-label">Expert</span></h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="96%">
                        </div>                                      
                    </div><!--//level-bar-->                                 
                </div><!--//item-->
                
                <div class="item">
                    <h3 class="level-title">HTML5, CSS3, SASS &amp; LESS<span class="level-label">Expert</span></h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="96%">
                        </div>                                      
                    </div><!--//level-bar-->                                 
                </div><!--//item-->
                
                <div class="item">
                    <h3 class="level-title">Ruby on Rails<span class="level-label">Pro</span></h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="85%">
                        </div>                                      
                    </div><!--//level-bar-->                                 
                </div><!--//item-->
                
                <p><a class="more-link" href="#"><i class="fa fa-external-link"></i> More on Coderwall</a></p> 
            </div>              
        </div><!--//content-->  
    </div><!--//section-inner-->                 
</aside><!--//section-->