@* header Template File *@
@(param: Any)

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">play-scala-tutorials</a>
      <button data-target="#navbar-main" data-toggle="collapse" type="button" class="navbar-toggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar-main" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a target="_blank" href="https://github.com/knoldus/play-scala-tutorials">github</a></li>
        <li class="dropdown">
           <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">Tutorials <span class="caret"></span></a>
           <ul role="menu" class="dropdown-menu">
             <li><a target="_blank" href="http://blog.knoldus.com/2014/10/04/tutorial-1/">Tutorial 1</a></li>
             <li class="divider"></li>
             <li><a target="_blank" href="http://blog.knoldus.com/2015/03/23/play-tutorial-2/">Tutorial 2</a></li>
           </ul>
         </li>
      </ul>
    </div>
  </div>
</div>
