@* header Template File *@
@(param: Any)

<!-- ******HEADER****** --> 
<header class="header">
    <div class="container">                       
        <img width="180px;" class="profile-image img-responsive img-circle pull-left" src="https://avatars0.githubusercontent.com/u/4903911" alt="Anand Kumar Singh" />
        <div class="profile-content pull-left">
            <h1 class="name">Anand Kumar Singh</h1>
            <h2 class="desc">Software Consultant</h2>   
            <ul class="social list-inline">
                <li><a target="_blank" href="https://twitter.com/_anand_singh"><i class="fa fa-twitter"></i></a></li>                   
                <li><a target="_blank" href="https://www.google.com/+AnandSinghAnand"><i class="fa fa-google-plus"></i></a></li>
                <li><a target="_blank" href="http://in.linkedin.com/in/anandsinghanand/"><i class="fa fa-linkedin"></i></a></li>
                <li><a target="_blank" href="https://github.com/anand-singh"><i class="fa fa-github-alt"></i></a></li>                  
                <!--<li class="last-item"><a href="#"><i class="fa fa-hacker-news"></i></a></li>-->
            </ul> 
        </div><!--//profile-->
        <a class="btn btn-cta-primary pull-right" href="http://www.knoldus.com/connect/contactus.knol" target="_blank">
        	<i class="fa fa-paper-plane"></i> Contact Me
        </a>              
    </div><!--//container-->
</header><!--//header-->
