@* aboutMeSection Template File *@
@(param: Any)

<section class="about section">
    <div class="section-inner">
        <h2 class="heading">About Me</h2>
        <div class="content">
            <p>Anand is a Software Consultant at Knoldus Software LLP. He
				is having 2+ years of experience in Java, Grails/Groovy and
				Scala language. Anand also knows about Javascript, jQuery, CSS
				and other UI design technologies.</p>
			<p>He is SCJP and OCA certified developer.</p>

			<p>Anand is passionate to work with upcoming technologies and
				bleeding platforms providing the new way to programming &amp;
				development. He is actively involved in development &amp; maintenance
				of several software projects. He has been enjoying Scala for more
				than a year now.</p>

			<p>Anand completed his MCA from IGNOU.</p>
			<p>
				As a Developer, Anand is continuing his journey by actively
				collaborating with other Developers in his field. Anand is
				actively contributing on the <a target="_blank" href="http://www.scalageek.com">ScalaGeek</a> platform.
			</p>
			<p>He likes to spend his free time in Cooking, watching
				Discovery for new Technology and visiting new places with
				friends.</p>

        </div><!--//content-->
    </div><!--//section-inner-->
</section><!--//section-->
